<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} BIENVENIDO {% endblock %}</title>
             <link rel="stylesheet" type="text/css" href="{{ asset('bundles/framework/css/bootstrap.css')}}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    </head>
   
      
    <body  style="font-family: 'Dosis'; background-color:#870028; " >
<div class="container-fluid">

    
<header>
 {% block header %}

 <a href="backend.php"><img src="{{ asset('bundles/framework/images/logo_medicina_2.png') }}" style="width:400px;" class="img-responsive" alt="" /></a>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

             <a class="navbar-brand" href="#"></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
    
        <li ><a href="{{ asset('')}}">Home</a></li>
        <li ><a href="{{ asset('/cursos')}}"> CURSOS</a>  </li>
    </ul>

<ul class="nav navbar-nav navbar-right">
              <li class='salir'><a  href="{{ asset('/logout')}}" >Cerrar Sesion</a></li>
            </ul> 
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

   {% endblock header %}

 </header>


       <div class="jumbotron">     
                {% block body %}
   
 <div class="col-md-4"></div>
    <div class="col-md-4 " style="margin-top: 100px;"  id="form" >
          <h4 style="border-bottom: 1px solid #c5c5c5;">
            <img src="{{ asset('bundles/framework/images/encabezado.png') }}" class="img-responsive" style="margin:0 auto;width:450px;"/>
            <p style="margin: 0 auto; font-family: 'Dosis'; "></p>
          </h4>
    </div>
<div class="col-md-4"></div>
        {% endblock body%}
        </div>
</div>
    
        {% block javascripts %}{% endblock %}
    </body>

</html>
