{% extends 'base.html.twig' %}

{% block body %}
    <style type="text/css">
    #clase_fechaInicio, #clase_fechaFin, #clase_estado {
        width: 16%;
    }
    </style>
    <h3>Editar una clase</h3>

    {% if tieneAlumnos == true %}
        <h4>La clase tiene registrado alumnos y no se puede eliminar.</h4>
    {% endif %}

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <br><input class="btn btn-primary" type="submit" value="Editar" />
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        <br><input class="btn btn-primary" type="submit" value="Borrar">
        <a class="btn btn-primary" href="{{ path('clase_index') }}?idCursada={{ cursada }}">Volver</a>
    {{ form_end(delete_form) }}

{% endblock %}
