{% extends 'base.html.twig' %}

{% block body %}
    
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <caption>Seleccione la clase para la cual se desea registrar asistencias</caption>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fecha</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
        {% for clase in clases %}
            <tr>
                <td><a href="{{ path('alumnoclase_index') }}?idComision={{ idComision }}&idClase={{ clase.id }}">{{ clase.nombre }}</a></td>
                <td>{{ clase.descripcion }}</td>
                <td>{% if clase.fecha %}{{ clase.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ clase.estado }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('alumnos_index') }}?id={{ idComision }}">Volver</a>
  
{% endblock %}
