{% extends 'base.html.twig' %}

{% block body %}
    
        <a href="{{ path('clase_new') }}?id={{ cursada }}"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalHorizontal">Dar de alta una clase</button></a>

    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <caption>Lista de Clases</caption>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Es requerida?</th>
                <th>Fecha</th>
                <th>Estado</th>
                {% if secretario == true %}
                <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for clase in clases %}
            <tr>
                <td>{{ clase.nombre }}</td>
                <td>{{ clase.descripcion }}</td>
                <td>{% if clase.requerida %}Si{% else %}No{% endif %}</td>
                <td>{% if clase.fecha %}{{ clase.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ clase.estado }}</td>
                {% if secretario == true %}
                <td>
                    <a href="{{ path('clase_edit', { 'id': clase.id }) }}">editar</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
{% endblock %}
