{% extends 'base.html.twig' %}

{% block body %}
    
        <a href="{{ path('clase_new') }}?id={{ cursada }}"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalHorizontal">Dar de alta una clase</button></a>

    <form action="{{ path('clase_index') }}update" method="post">

    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <caption>Lista de Clases</caption>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Es requerida?</th>
                <th>Fecha de inicio</th>
                <th>Fecha de finalizacion</th>
                <th>Estado</th>
                {% if secretario == true %}
                <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>

        <input type="number" name="idCursada" value="{{cursada}}" hidden/>
        {% for clase in clases %}
            <input type="number" name="idClase[]" value="{{clase.id}}" hidden/>
            <tr>
                <td>{{ clase.nombre }}</td>
                <td>{{ clase.descripcion }}</td>
                <td>{% if clase.requerida %}Si{% else %}No{% endif %}</td>
                <td>{% if clase.fechaInicio %}{{ clase.fechaInicio|date('Y-m-d') }}{% endif %}</td>
                <td>{% if clase.fechaFin %}{{ clase.fechaFin|date('Y-m-d') }}{% endif %}</td>

                {% if secretario == true %}
                    <td>
                        <select name="estado[{{ clase.id }}]">
                            {% for estado in ["Seleccionar","pendiente","suspendida","finalizada"] %}
                                {% if estado == clase.estado %}
                                    <option selected value={{estado}}>{{ estado }}</option>
                                {% else %}
                                    <option value={{estado}}>{{ estado }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                {% else %}
                    <td>{{ clase.estado }}</td>
                {% endif %}

                {% if secretario == true %}
                <td>
                    <a href="{{ path('clase_edit', { 'id': clase.id }) }}">editar</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if secretario == true %}
            <input type="submit" value="Actualizar estados">
        {% endif %}
    </form>
    <a class="btn btn-primary" href="{{ path('comisiones_index') }}?id={{ cursada }}">Volver</a>
  
{% endblock %}
