{% extends 'base.html.twig' %}

{% block body %}
	<style type="text/css">
    #clase_fechaInicio, #clase_fechaFin, #clase_estado {
        width: 16%;
    }
    </style>
     <h3>Nueva Clase</h3>
    <div class="col-md-4"></div>
    <div class="col-md-4"> </div>
    <div class="col-md-4"></div>
   

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br><input class="btn btn-primary" type="submit" value="Crear" />
        <a class="btn btn-primary" href="{{ path('clase_index') }}?idCursada={{ cursada }}">Volver</a>
    {{ form_end(form) }}

    

{% endblock body %}
