{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-2"><a href="{{ path('parcial_index') }}" class="btn btn-primary">Parciales de la cursada</a></br></div>
    <div class="col-md-2"> <a href="{{ path('clase_index') }}?id={{ cursada }}" class="btn btn-primary">Clases de la cursada</a></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
      <div class="col-md-2"></div>
    <div class="col-md-2"></div>
 

    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
         <caption>Lista de Comisiones</caption>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Inscriptos</th>
            </tr>
        </thead>
        <tbody>
        {% for comisione in comisiones %}
            <tr>
                <td><a href="{{ path('alumnos_index', { 'id': comisione.id }) }}">{{ comisione.nombre }}</a></td>
                <td>{{ comisione.descripcion }}</td>
                <td>{{ comisione.inscriptos }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
