{% extends 'base.html.twig' %}

{% block body %}
 <a href="{{ path('parcial_index') }}">Parciales de la cursada</a></br>
 <a href="{{ path('clase_index') }}">Clases de la cursada</a>
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
         <caption>Lista de Comisiones</caption>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Inscriptos</th>
            </tr>
        </thead>
        <tbody>
        {% for comisione in comisiones %}
            <tr>
                <td><a href="{{ path('alumnos_index', { 'id': comisione.id }) }}">{{ comisione.nombre }}</a></td>
                <td>{{ comisione.descripcion }}</td>
                <td>{{ comisione.inscriptos }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
