{% extends 'base.html.twig' %}

{% block body %}
  {% if comision == '' %}
     <a class="btn btn-primary" href="{{ path('exportarExcelNotas') }}?curso={{cursada}}">Reporte Excel Notas</a> 
     {% else %}
      <a class="btn btn-primary" href="{{ path('exportarExcelNotas') }}?comision={{comision}}">Reporte Excel Notas</a> 
    {% endif %}

    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <caption>Reporte de notas {{titulo}}</caption>
        <thead>
            <tr>
                <th>Nombre y Apellido</th>
                 <th>Curso</th>
                  <th>Comision</th>
                       {% for array_parcial_instancia in array_parcial_instancia %}
                          <th colspan="{{ array_parcial_instancia.instancia|length }}" style="text-align:center">{{ array_parcial_instancia.parcial.nombre }}</th>
                          
                        {% endfor %}
                    
                    

            </tr>
        </thead>
        <tbody>
       {% for alumno_parciales in alumno_parciales %}
            <tr>

  
                <td>{{alumno_parciales.alumno.apellido}}, {{alumno_parciales.alumno.nombre}}</td>
                <td>{{alumno_parciales.curso.nombre}}</td>
                <td>{{alumno_parciales.comision.nombre}}</td>
                 {% for par in alumno_parciales.parcial_alumno %}
                        {% for instan in par.instancia_parcial %}
                            
                             <td>    
                              <h4>{{instan.instancia.nombre}}:</h4>
                              <b style="font-weight:bold;">ESTADO:</b> {{instan.estado}}<br>
                              <b>NOTA:</b> {{instan.nota}}<br>
                             <b>CONDICION:</b> {{instan.condicion}}<br>
                             <b>OBS:</b> {{instan.observacion}}
                              </td>
                        {% endfor %}
               
                       
                  {% endfor %}
              
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if cursada %}
      <a class="btn btn-primary" href="{{ path('comisiones_index') }}?id={{ cursada }}">Volver</a>
    {% elseif comision %}
      <a class="btn btn-primary" href="{{ path('alumnos_index') }}?id={{ comision }}">Volver</a>
    {% endif %}

{% endblock %}
