{% extends 'base.html.twig' %}

{% block body %}

    <form action="{{ path('alumnoclase_index') }}update" method="post">
        <input type="number" name="idClase" value="{{ clase.id }}" hidden/>
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <caption>Listado de Asistencias de la clase {{ clase.nombre }}</caption>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Legajo</th>
                <th>Estado</th>
                <th>Observacion</th>
            </tr>
        </thead>
        <tbody>
        {% for asistencia in asistencias %}
            <tr>
                <input type="number" name="idAlumno[{{ asistencia.alumno.id }}]" value="{{ asistencia.alumno.id }}" hidden/>
                <input type="number" name="idAsistencia[{{ asistencia.alumno.id }}]" value="{{ asistencia.id }}" hidden/>
                
                <td>{{ asistencia.alumno.nombre }}</td>
                <td>{{ asistencia.alumno.apellido }}</td>
                <td>{{ asistencia.alumno.legajo }}</td>
                <td>
                    <select name="estado[{{ asistencia.alumno.id }}]">
                        {% for estado in ["Seleccionar","presente","ausente","justificado"] %}
                            {% if estado == asistencia.asistencia %}
                                <option selected value={{estado}}>{{ estado }}</option>
                            {% else %}
                                <option value={{estado}}>{{ estado }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input type="text" size="60" name="observacion[{{ asistencia.alumno.id }}]" placeholder="Ingrese una observacion" value="{{ asistencia.observacion}}">
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a class="btn btn-primary" href="{{ path('clase_index', { 'idComision': idComision }) }}">Volver</a>
        <input type="submit" value="Actualizar asistencias" class="btn btn-primary">
    </form>
    

{% endblock %}
