{% extends 'base.html.twig' %}

{% block body %}
                  <a href="{{ path('clase_index', { 'idComision': id }) }}" class="btn btn-primary"> Registro de Asistencias</a>
               <a href="{{ path('parcial_index', { 'idParcial': id }) }}" class="btn btn-primary"> Registro de Parcial</a>
                <a class="btn btn-primary" href="{{ path('reporteAsistencia_index') }}?comision={{ id }}">Reporte Asitencias Comision</a>
                <a class="btn btn-primary" href="{{ path('reporteNotas_index') }}?comision={{ id }}">Reporte Notas Comision</a>

    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <caption>Listado de Alumnos</caption>
        <thead>
            <tr>
                <th>Legajo</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Dni</th>
                <th>Telefono</th>
                <th>Celular</th>
                <th>Mail</th>
            </tr>
        </thead>
        <tbody>
        {% for inscripto in inscriptos %}
            <tr>
                <td><a href="{{ path('alumnos_show', { 'id': inscripto.idAlumno.id }) }}">{{ inscripto.idAlumno.legajo }}</a></td>
                <td>{{ inscripto.idAlumno.apellido }}</td>
                <td>{{ inscripto.idAlumno.nombre }}</td>
                <td>{{ inscripto.idAlumno.dni }}</td>
                <td>{{ inscripto.idAlumno.telefono }}</td>
                <td>{{ inscripto.idAlumno.celular }}</td>
                <td>{{ inscripto.idAlumno.mail }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
