{% extends 'base.html.twig' %}

{% block body %}
    <h1>User edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <br><input type="submit" class="btn btn-primary" value="Editar docente" />
    {{ form_end(edit_form) }}

    <!--<a href="{{ path('user_index') }}">Back to the list</a>-->

    {{ form_start(delete_form) }}
        <br><input type="submit" class="btn btn-primary" value="Borrar docente">
    {{ form_end(delete_form) }}

{% endblock %}
