{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <caption>Listado de Docentes</caption>
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Dni</th>
                <th>Cargo</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.apellido }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.dni }}</td>
                <td>{{ user.cargo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
