{% extends 'base.html.twig' %}

{% block body %}
  {% if idComision == '' %}
     <a class="btn btn-primary" href="{{ path('exportarExcelAsistencias') }}?curso={{idCurso}}">Reporte Excel Asistencias</a> 
     {% else %}
      <a class="btn btn-primary" href="{{ path('exportarExcelAsistencias') }}?comision={{idComision}}">Reporte Excel Asistencias</a> 
    {% endif %}
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <caption>Reporte de asistencia {{ titulo }}</caption>
        <thead>
            <tr>
                <th>Nombre y Apellido</th>
                 <th>Curso</th>
                 {% if idComision == '' %}
                    <th>Comision</th>
                {% endif %}
                    {% for clases in clases %}
                     <th>{{ clases.nombre }}</th>
                    {% endfor %}
                    <th>Total de clases </th>
                    <th>Total de clases Req. y finalizadas </th>
                      <th>Porcentaje Presentes</th>

            </tr>
        </thead>
        <tbody>
          
       {% for alumnos_asistencia in alumnos_asistencia %}
            <tr>
                <td>{{ alumnos_asistencia.alumno.nombre }},{{ alumnos_asistencia.alumno.apellido }}</td>
                <td>{{ alumnos_asistencia.curso.nombre }}</td>
                {% if idComision == '' %}
                    <td>{{ alumnos_asistencia.comision.nombre }}</td>
                {% endif %}
                
                
                     {% set cant = 0 %}
                 {% for asist in alumnos_asistencia.asistencias %}
                   {% if asist.asistencia == "presente" %}
                        {% set cant = cant + 1 %}
                    {% endif %}
                   <td> {{asist.asistencia}}</td>
                {% endfor %}
               
                <td>{{ clases|length }}</td>
                <td>{{ cant_clases_tomadas }}</td>
                <td>{{ cant }} / {{cant_clases_tomadas }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if idCurso %}
        <a class="btn btn-primary" href="{{ path('comisiones_index') }}?id={{ idCurso }}">Volver</a>
    {% elseif idComision %}
         <a class="btn btn-primary" href="{{ path('alumnos_index') }}?id={{ idComision }}">Volver</a>
    {% endif %}
    
{% endblock %}
