{% extends 'base.html.twig' %}

{% block body %}
    <h3>Editar parcial</h3>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <br><input class="btn btn-primary" type="submit" value="Editar" />
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        <br><input class="btn btn-primary" type="submit" value="Borrar">
    {{ form_end(delete_form) }}

{% endblock %}
