{% extends 'base.html.twig' %}

{% block body %}
    <h3>Editar parcial</h3>

    {% if tieneInstancias == true %}
        <h4>El parcial tiene instancias y no se puede eliminar.</h4>
    {% endif %}

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <br><input class="btn btn-primary" type="submit" value="Editar" />
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        <br><input class="btn btn-primary" type="submit" value="Borrar">
        <a class="btn btn-primary" href="{{ path('parcial_index') }}?idCursada={{ idCursada }}">Volver</a>
    {{ form_end(delete_form) }}

{% endblock %}
