{% extends 'base.html.twig' %}

{% block body %}
      <div class="col-md-2"><a href="{{ path('parcial_new') }}" class="btn btn-primary">Nuevo Parcial de Cursada</a></br></div>
    <div class="col-md-2"> </div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
      <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
         <caption>Lista de Parciales</caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parcial in parcials %}
            <tr>
                <td><a href="{{ path('parcial_show', { 'id': parcial.id }) }}">{{ parcial.id }}</a></td>
                <td>{{ parcial.nombre }}</td>
                <td>{{ parcial.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('parcial_show', { 'id': parcial.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('parcial_edit', { 'id': parcial.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
          

{% endblock %}
  