{% extends 'base.html.twig' %}

{% block body %}
    <h3>Nuevo parcial</h3>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br><input class="btn btn-primary" type="submit" value="Crear Parcial" />
        <a class="btn btn-primary" href="{{ path('parcial_index') }}?idCursada={{ cursada }}">Regresar</a>
    {{ form_end(form) }}

    
{% endblock %}
