{% extends 'base.html.twig' %}

{% block body %}
    <style type="text/css">
    #instancia_parcial_fechaInicio, #instancia_parcial_fechaFin, #instancia_parcial_estado {
        width: 16%;
    }
    </style>
    <h3>Modificar la instancia de un parcial</h3>


    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <br><input class="btn btn-primary" type="submit" value="Modificar" />
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        <br><input class="btn btn-primary" type="submit" value="Borrar"/>
        <a class="btn btn-primary" href="{{ path('instanciaparcial_index') }}?idParcial={{ idParcial }}">Volver</a>
    {{ form_end(delete_form) }}



{% endblock %}
