{% extends 'base.html.twig' %}

{% block body %}
    
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <caption>Seleccione la instancia para la cual se desea registrar notas</caption>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fecha de inicio</th>
                <th>Fecha de finalizacion</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
        {% for instanciaParcial in instanciaParcials %}
            <tr>
            {% if instanciaParcial.estado != "suspendido" %}
                <td><a href="{{ path('notas_index') }}?idComision={{ idComision }}&idInstanciaP={{ instanciaParcial.id }}">{{ instanciaParcial.nombre }}</a></td>
            {% else %}
                <td>{{ instanciaParcial.nombre }}</td>
            {% endif %}
                
                <td>{{ instanciaParcial.descripcion }}</td>
                <td>{% if instanciaParcial.fechaInicio %}{{ instanciaParcial.fechaInicio|date('Y-m-d') }}{% endif %}</td>
                <td>{% if instanciaParcial.fechaFin %}{{ instanciaParcial.fechaFin|date('Y-m-d') }}{% endif %}</td>
                <td>{{ instanciaParcial.estado }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('parcial_index') }}?idComision={{ idComision }}">Volver</a>
  
{% endblock %}