{% extends 'base.html.twig' %}

{% block body %}
	<style type="text/css">
	#instancia_parcial_fechaInicio, #instancia_parcial_fechaFin, #instancia_parcial_estado {
	    width: 16%;
	}
	</style>
    <h3>Nueva instancia de parcial</h3>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br><input class="btn btn-primary" type="submit" value="Crear instancia" />

        <a class="btn btn-primary" href="{{ path('instanciaparcial_index') }}?idParcial={{ parcial }}">Volver</a>
    {{ form_end(form) }}

    
{% endblock %}
