{% extends 'base.html.twig' %}

{% block body %}
    <h1>InstanciaParcial</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ instanciaParcial.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ instanciaParcial.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ instanciaParcial.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if instanciaParcial.fecha %}{{ instanciaParcial.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ instanciaParcial.estado }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('instanciaparcial_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('instanciaparcial_edit', { 'id': instanciaParcial.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
